.mobile-console__holder
{
    background-color: #eee;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 10px;
    max-height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    font-family: monospace;
    font-size: 12px;
}
.mobile-console__log
{
    color: black;
    overflow: hidden;
}
.mobile-console__props
{
    padding-left: 10px;
    display: none;
    clear: both;
}
.mobile-console__props.visible
{
    display: block;
}
.mobile-console__node
{
    position: relative;
}
.mobile-console__node.number
{
    color: #2d46d6;
}
.mobile-console__node.string
{
    color: #c83631;
}
.mobile-console__node.null
{
    color: #838080;
}
.mobile-console__node:before
{
    border-style: solid;
    display: inline-block;
    position: relative;
    margin-right: 4px;
    margin-top: 2px;
    border-color: transparent;
}

.mobile-console__node.inspect:before
{
    content: '';
    border-width: 4px 0 4px 8px;
    border-left-color: #838383;
}

.mobile-console__node.opened:before
{
    content: '';
    border-width: 8px 5px 0 5px;
    border-top-color: #838383;
}

.mobile-console__top
{
    white-space: nowrap;
}

.mobile-console__key
{
    margin-right: 10px;
    color: #8a3991;
}
